.idea/
*.sln.DotSettings.user
*.user
*.suo
*.sln.ids
*.dtbcache.v2

bin/
obj/
[Bb]in/
[Oo]bj/
publish/
*.log
*.trx
*.preview

.vs/
*.user
*.userosscache
*.sln.docstates

secrets.json
.env

node_modules/
dist/
.cache/
npm-debug.log*

.DS_Store
Thumbs.db